<!-- <div id="scatter-plot"></div> -->
<div>
    <label for="yAxis">Select Y-Axis:</label>
    <select id="yAxis" [(ngModel)]="selectedYOption" (change)="onYOptionChange()">
      <option *ngFor="let option of yOptions" [value]="option">{{ option }}</option>
    </select>
</div>

<div>
    <label for="yAxis">Select Graph Type:</label>
    <select id="yAxis" [(ngModel)]="selectedGraphType" (change)="onGraphTypeChange()">
      <option *ngFor="let option of graphType" [value]="option">{{ option }}</option>
    </select>
</div>

<div id="bar-chart"></div>